#banner{ background-image: url("assets/bg5.jpg");
 min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 100px;
}


#history {
    background-image: url("assets/bg7");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#h1 {
    background-image: url("assets/bg2_1.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#h2 {
    background-image: url("assets/bg2_2.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#history .row {
    min-height: inherit;
}

#history .row div:last-child {
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;}

#h1 .row {
    min-height: inherit;
}

#h1 .row div:last-child {
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

}

#h2 .row {
    min-height: inherit;

}

#h2 .row div:last-child {
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

}


#h3 {
    background-image: url("assets/bg5_1.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#labormarket {
    background-image: url("assets/bg0.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#u1 {
    background-image: url("assets/bg3.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#u2 {
    background-image: url("assets/bg4.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#u3 {
    background-image: url("assets/bg6.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#u1 .row {
    min-height: inherit;
}

#u1 .row div:last-child {
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
padding: 100px 100px;}

#u2 .row {
    min-height: inherit;
}

#u2 .row div:first-child {
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 100px 100px;

}

#u3 .row {
    min-height: inherit;

}

#u3 .row div:last-child {
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 100px 100px;
}

